footer {
    background-color: $primary;
    color: $white;
    padding: 70px 0 100px;

    h4 {
        color: $white;
    }

    h5 {
        margin-top: 0;
    }

    .footerFlexContainer {
        display: flex;
        justify-content: space-between;
    }
    .footerNav {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    a{
        color: rgba($color: $white, $alpha: 0.5);
        font-size: 16px;
        line-height: 1.5rem;

        &:hover,
        &:focus {
            color: $white;
        }
    }
}