@font-face {
    font-family: "Jakarta Sans";
    src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff), url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2), url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Jakarta Sans";
    src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff), url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2), url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Young Serif";
    src: url(../fonts/youngserif/YoungSerif-Regular.otf);
}

// HEADINGS:
// h1: 28px;
// h2: 40px;
// h3: 54px;
// h4: 34px;
// h5: 14px;

html {
    font-size: 125%;
}

body {
    font-family: $seondaryFont;
    font-size: $baseFontSize;
    color: $primary;
}

h1, h2, h3, h4 {
    font-family: $primaryFont;
    margin: 0;
}

h1 {

    font-size: 28px;
}

h2 {
    font-size: 40px;
    margin-bottom: 18px;
}

h3 {
    font-size: 34px;
}

h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

p {
    line-height: 1.4;

    &.smallCopy {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}